$colors: (
    gray-25: #fcfcfd,
    gray-300: #d0d5dd,
    gray-400: #98a2b3,
    gray-500: #667085,
    gray-600: #475467,
    gray-700: #344054,
    gray-800: #1d2939,
    gray-900: #101828,
    gray-950:#0A101A,
    brand-yellow:#DCF537,
    text-link:#7F56D9,
    )