.header-titan {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: color(gray-950);
    position: relative;
    width: 100%;
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 64px;
        .menu-header {
            padding: 8px 20px;
            border-radius: 9999px;
            display: flex;
            align-items: center;
            border: 1px solid color(gray-400);
            >*+* {
                margin-left: 32px;
            }
            .text-link {
                font-size: 14px;
                font-weight: 600;
                color: color(gray-400);
                line-height: 20px;
            }
        }
    }
    .icon-mobile {
        width: 40px;
        height: 40px;
        display: none;
    }
    .menu-mobile {
        height: 0px;
        overflow: hidden;
        padding: 0px;
    }
    @media screen and (max-width: 1200px) {
        border-bottom: 1px solid color(gray-400);
        &__content {
            padding: 0px 24px;
            .menu-header,
            .primary {
                display: none;
            }
        }
        .icon-mobile {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .menu-mobile {
            display: block;
            position: absolute;
            top: 80px;
            left: 0px;
            width: 100vw;
            background-color: color(gray-950);
            z-index: 10;
            &.active {
                padding: 24px 0px;
                height: calc(100vh - 80px);
            }
            .text-link {
                display: block;
                padding: 12px 16px;
                color: color(gray-25);
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
            }
            .select-mobile-header {
                .title-and-icon {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 12px 16px;
                    >*+* {
                        margin-left: 16px;
                    }
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 24px;
                    color:color(gray-25);
                    z-index: 10;
                }
                &.active {
                    background-color: color(gray-700);
                    .content {
                        height: auto;
                        overflow: visible;

                    }
                }
                .content {
                    height: 0px;
                    overflow: hidden;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
        .footer-menu {
            padding: 24px;
            border-top: 1px solid color(gray-700);
            button {
                width: 100%;
            }
        }
    }
}